[submodule "extern/vector"]
	path = extern/vector
	url = https://github.com/flyfish30/vector.git
[submodule "extern/libcsptr"]
	path = extern/libcsptr
	url = https://github.com/neugates/libcsptr.git
[submodule "extern/uthash"]
	path = extern/uthash
	url = https://github.com/troydhanson/uthash.git
