[Unit]
Description=ekuiper daemon
After=neuron.service
Requires=neuron.service
PartOf=neuron.service

[Service]
Group=root
Type=forking
Environment=HOME=/opt/neuron/ekuiper
WorkingDirectory=/opt/neuron/ekuiper
ExecStart=/bin/sh /opt/neuron/ekuiper/ekuiper.sh start
LimitNOFILE=1048576
ExecStop=/bin/sh /opt/neuron/ekuiper/ekuiper.sh stop

[Install]
WantedBy=multi-user.target
WantedBy=neuron.service
