name: check

on: 
  push:
  pull_request:
  release:
    types:
      - published

jobs:
  clang_format_check:
    runs-on: ubuntu-24.04

    steps:
      # checkout
      - uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Run clang-format style check for C/C++ programs.
        uses: DoozyX/clang-format-lint-action@v0.18
        with:
          source: 'src plugins include tests'
          exclude: 'include/neuron/utils/uthash.h include/neuron/utils/utarray.h include/neuron/utils/utlist.h include/neuron/utils/zlog.h'
          clangFormatVersion: 10
          style: file

  cppcheck:
    runs-on: ubuntu-20.04

    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive
      
      - name: cppcheck
        run: |
          sudo apt install cppcheck
          cppcheck --enable=all  --error-exitcode=2 --inline-suppr --suppress=missingInclude --suppress=unusedFunction ./plugins ./src
          cppcheck --enable=all  --error-exitcode=2 --inline-suppr --suppress=missingInclude --suppress=unusedFunction --suppress=variableScope ./simulator

  ut:
    runs-on: ubuntu-20.04
    container: ghcr.io/neugates/build:x86_64-v2.7


    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive
      
      - name: compile
        run: |
          git config --global --add safe.directory $(pwd)
          mkdir -p build && cd build
          cmake -DUSE_GCOV=1 .. -DCMAKE_TOOLCHAIN_FILE=../cmake/x86_64-linux-gnu.cmake
          make -j4

      - name: unit test
        run: |
          cd build
          sudo apt-get update
          sudo apt install -y lcov
          ctest --output-on-failure -O tests/ut/reports/ut.log --output-junit tests/ut/reports/output.xml
          lcov --capture --directory . --output-file  testneuron.info --test-name testneuron
          genhtml -o result testneuron.info

      - uses: actions/upload-artifact@v3
        with:
          name: ut_result
          path: |
            build/tests/ut/reports/ut.log
            build/tests/ut/reports/output.xml
            build/result/index.html
            build/neuron.log

  ft:
    runs-on: ubuntu-20.04
    container: ghcr.io/neugates/build:x86_64-v2.7

    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive
      
      - name: compile
        run: |
          git config --global --add safe.directory $(pwd)
          mkdir -p build && cd build
          cmake -DUSE_GCOV=1 .. -DCMAKE_TOOLCHAIN_FILE=../cmake/x86_64-linux-gnu.cmake
          make -j4

      - name: function test
        run: |
          sudo apt-get install -y mosquitto
          mosquitto -v &
          python3 -m pip install -U pip
          python3 -m pip install -r ft/requirements.txt
          python3 -m robot --maxerrorlines=600 -P ft/ -d ft/reports ft

      - uses: actions/upload-artifact@v3
        with:
          name: ft_result
          path: |
            ft/reports/log.html
            ft/reports/output.xml
            ft/reports/report.html
            build/neuron.log

  pft:
    runs-on: ubuntu-20.04
    container: ghcr.io/neugates/build:x86_64-v2.7
    strategy:
      matrix:
        plugin: [core, modbus, mqtt, metrics]

    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: setup dependencies
        run: |
          if [ "${{ matrix.plugin }}" = "mqtt" ]; then
            sudo apt-get install -y mosquitto
            pip install -U gmqtt
          fi
          pip install -U pytest requests prometheus-client

      - name: compile
        run: |
          git config --global --add safe.directory $(pwd)
          mkdir -p build && cd build
          cmake -DUSE_GCOV=1 .. -DCMAKE_TOOLCHAIN_FILE=../cmake/x86_64-linux-gnu.cmake
          make -j4

      - name: function test
        run: |
          if [ "${{ matrix.plugin }}" = "core" ]; then
            pytest -s -v tests/ft \
              --ignore=tests/ft/app/test_mqtt.py             \
              --ignore=tests/ft/driver/test_modbus.py        \
              --ignore=tests/ft/metrics/test_metrics.py
          elif [ "${{ matrix.plugin }}" = "modbus" ]; then
            pytest -s -v tests/ft/driver/"test_modbus.py"
          elif [ "${{ matrix.plugin }}" = "mqtt" ]; then
            pytest -s -v tests/ft/app/"test_mqtt.py"
          else
            pytest -s -v tests/ft/metrics/"test_metrics.py"          
          fi
